<% layout('/template/boilerplate') -%>
 
                    <link rel="stylesheet" href="<%=devEnv%>/assets/vendor/bootstrap/bootstrap.min.css">

                    <div class="pageHead">
                        <h3>Sign In</h3>
                        <form method="post" novalidate class="needs-validation">
                            <div class="formInput mb-5">
                                <label for="email" class="form-label text-white-50">Email ID</label>
                                <input type="email" name="email" id="email" class="form-control text-light" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a valid email ID
                                </div>
                            </div>
                            <div class="formInput mb-5">
                                <label for="password" class="form-label text-white-50">Enter Password</label>
                                <input type="password" name="password" id="password2" class="form-control text-light"
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a valid password
                                </div>
                            </div>
                            <p>Not a user? <a href="<%= devFun %>/register">Register</a></p>
                            <div class="submit">
                                <div class="cta">
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
                    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
                    <script src="<%=devEnv%>__/firebase/init.js"></script>
                    <script src="<%= devEnv %>assets/js/auth.js "></script>
                    <script>
                        const email = document.querySelector('#email')
                        const pwd = document.querySelector('#password2')
                        const feedbackDiv = document.querySelectorAll('.invalid-feedback')[1]
                        const redirect = '<%=devFun%>'
                        document.querySelector('.cta button').addEventListener('click', () => {
                            event.preventDefault()
                            event.stopPropagation()

                            signIn()
                        })
                    </script>